/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
resources/views/homepage.blade.txt
database/seeders/*
!database/seeders/.gitkeep
storage/profiles
storage/app/public/*
!storage/app/public/.gitkeep

# storage/framework/*
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/framework/testing/*
!storage/framework/testing/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/cache/data/*

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
# Laravel 5 & Lumen specific
public/storage
public/hot
# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
.editorconfig
